th,
tr {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.userInfo {
	overflow:hidden;
    position:absolute;
}

.repos {
	height: auto;
    padding: 20px;
    margin-left: 230px;
    margin-right: 20px;
    padding-bottom: 30px;
    overflow: auto;
}

.sort {
	padding-top:50px;
	display: ruby;
}

.sortBar {
	display: inline-block;
	width: 150px !important;
}

.table {
	width: 100%;
	margin-top: 15px;
}

.poster{
	display: block;
	width: 565px;
	position: fixed;
	margin: auto;
    padding: 10px;
}

.title {
	float: left;
	color: white;
}

.searchBar{
	float: right;
}

.userPhoto {
	left: 50%;
	width: 250px; 
	height: 250px;
	margin-left: 15px;
}

.mainContent {
	padding-left: 20px;
}