<div id="userDetails" class="mainContent">
    <div class="userInfo">
        <h2>{{user.name}}</h2>
        <img class="userPhoto" style="width: 200px; height: 200px;" ng-src="{{user.avatar_url}}" title="{{user.name}}"/>
        <br/>
        <div class="sort">
            <h4 class="orderText">Order By:</h4>
            <select class="sortBar form-control" ng-model="repoSortOrder">
                <option value="+name">Name</option>
                <option value="-stargazers_count">Stars</option>
                <option value="+language">Language</option>
                <option value="-size">Size</option>
            </select>
        </div>
    </div>
    <div class="repos">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Stars</th>
                    <th>Language</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
                    <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
                    <td>{{repo.stargazers_count | number}}</td>
                    <td>{{repo.language}}</td>
                    <td>{{repo.size | number}} KB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>